# gradle

.gradle/
build/
out/
classes/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric + neoforge

/run/
/common/run/
/fabric/run/
/fabric/config/
/fabric/logs/
/neoforge/run/
/neoforge/runs/

# macOS

.DS_Store
.AppleDouble
.LSOverride

# lithium

fabric/testserver/*
/src/main/resources/assets/lithium/lithium-mixin-config-default.properties
/src/main/resources/assets/lithium/lithium-mixin-config-dependencies.properties
